<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body>

{% include("navbar.html") %}

<div class="container">
    <h2>Change Your Password</h2>
    <div class="well">
        <form class="form-horizontal" method="post">
            {{ password_form.hidden_tag() }}

            <!-- Current Password -->
            <div class="form-group {% if password_form.current_password.errors %}has-error{% endif %}">
                {{ password_form.current_password.label(class="col-xs-2 control-label") }}
                <div class="col-xs-4">
                    {{ password_form.current_password(class="form-control") }}
                    {% if password_form.current_password.errors %}
                        <div style="color: #a94442">
                            {{ password_form.current_password.errors[0] }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- New Password -->
            <div class="form-group {% if password_form.new_password.errors %}has-error{% endif %}">
                {{ password_form.new_password.label(class="col-xs-2 control-label") }}
                <div class="col-xs-4">
                    {{ password_form.new_password(class="form-control") }}
                    {% if password_form.new_password.errors %}
                        <ul style="color: #a94442; padding-left: 1em">
                            {% for error in password_form.new_password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">
                        Change Password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>