<form method="post" action="{{ url_for("login") }}" style="min-width: 200px;">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ login_form.username.label(class="control-label") }}
        {{ login_form.username(class="form-control") }}
    </div>

    <div class="form-group">
        {{ login_form.password.label(class="control-label") }}
        {{ login_form.password(class="form-control") }}
    </div>

    <div class="form-group">
        {{ login_form.remember() }}
        {{ login_form.remember.label(class="control-label") }}
    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>